:root{
    --color-light-50: #f8fafc;


    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-500: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46bf;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));


}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#container{
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient);
 
}

#social-media .faceicon{
    color: #000;
}
#social-media .googleicon{
    color: #000;
}
#social-media .giticon{
    color: #000;
}
#login-form{
    background-color: var(--color-light-50);
    border-radius: 20px;
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    gap: 25px;
    box-shadow: 5px 5px 8px rgb(21, 21, 21);
    height: fit-content;
    animation: dark-to-light 0.3s ease-in-out;
}
#form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form-header h1{
    font-size: 40px;
    position: relative;
    
}
#moon-icon{
    cursor: pointer;
    font-size: 20px;}

#social-media{
    justify-content: space-around;
    display: flex;
    font-size: 20px;}

#social-media .faceicon:hover{
    transform: scale(1.5);}

#social-media .googleicon:hover{
    transform: scale(1.5);}

#social-media .giticon:hover{
    transform: scale(1.5);}

#input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;}

.input-box > label{

    font-size:14px;
    color: var(--color-dark-50);}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);}


.input-field input{
    border: none;
    background: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;}

.input-field input:focus{
    outline: none;}


#forgot-password a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    color: var(--color-dark-50);}


#forgot-password a:hover{
    color: var(--color-purple-50);}

#login-button{
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;}
#login-button:hover{
    transform: scale(1.05);
    
}

.dark#login-form{
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark-background 0.3s ease-in-out;


}
.dark#login-form .input-field input,
.dark#login-form .input-field i{
    color: var(--color-light-50);
}
@keyframes dark-to-light-background {
    0%{
        background-color: var(--color-dark-100);
    }
    100%{
        background-color: var(--color-light-50);
    }

}
@keyframes light-to-dark-background {
    0%{
        background-color: var(--color-light-50);
    }
    100%{
        background-color: var(--color-dark-100);
    }

}